@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

/**
  Breakpoints
  sm: 640px
  md: 768px
  lg: 1024px
  xl: 1280px
  2xl: 1536px
*/

* {
  box-sizing: border-box;
}

:root {
  --primary1: #495E57;
  --primary2: #F4CE14;
  --secondary1: #EE9972;
  --secondary2: #FBDABB;
  --highlight1: #EDEFEE;
  --highlight2: #333333;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700; 
  --weight-extrabold: 800;
}

html, body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  padding: 1em;
}

a {
  text-decoration: none;
  color: var(--highlight2);
}

a:hover, a:focus, a:active {
  transition: all ease-in-out 150ms;
  color: var(--primary1);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.display-title {
  font-family: "Markazi Text", serif;
  font-weight: var(--weight-medium);
  font-size: 64px;
  color: var(--primary2);
  line-height: 1em;
}

.sub-title {
  font-family: "Markazi Text", serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 1em;
}

.lead-text {
  font-weight: normal;
  font-size: 18px;
}

.section-title {
  font-weight: var(--weight-extrabold);
  font-size: 20px;
}

.section-categories {
  font-weight: var(--weight-extrabold);
  font-size: 16px;
}

.card-title {
  font-weight: var(--weight-bold);
  font-size: 18px;
  color: var(--highlight2);
}

p, .paragraph {
  font-size: 16px;
  line-height: 1.5;
}

.highlight {
  font-weight: var(--weight-medium);
  font-size: 16px;
  color: var(--secondary1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 1em;
}

.button {
  padding: 0.75em 2em;
  border-radius: 0.5em;
  background: var(--primary2);
  color: var(--highlight2);
  font-weight: var(--weight-bold);
}

.button:hover,
.button:focus,
.button:active {
  background: var(--secondary1);
  color: var(--highlight2);
  transition: all ease-in-out 150ms;
}