.booking-header {
    color: var(--highlight2);
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 1.5em;
}

.form-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
    align-items: center;
}

.form-item label {
    flex: 1 1 1;
    min-width: 150px;
    font-size: 1.1em;
    font-weight: var(--weight-medium);
}

.form-item input,
.form-item select {
    flex: 1 1 0;
    font-size: 1em;
    padding: 0.5em;
    font-family: inherit;
}

.invalid {
    border: var(--error) 2px solid;
}

.message {
    flex-shrink: 0;
    width: 100%;
    text-align: right;
    font-size: var(--size-sm);
    font-weight: var(--weight-medium);
    margin-top: 0.25em;
    color: var(--error);
}

button[type="submit"] {
    padding: 0.75em 0.5em;
    font-size: 1.1em;
    border: none;
    background: var(--secondary1);
    font-family: inherit;
    cursor: pointer;
    transition: all ease-out 150ms;
    font-weight: var(--weight-medium);
}

button[type="submit"]:disabled {
    background: var(--secondary2);
}

button[type="submit"]:hover,
button[type="submit"]:active,
button[type="submit"]:focus {
    background: var(--secondary2);
}