header {
    height: 100px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2em;
    flex-wrap: wrap;
    height: 100%;
}

header img {
    flex-grow: 0;
    height: 50px;
}