#hero {
    width: 100%;
    background: var(--primary1);
    color: var(--highlight1);
}

#hero-content {
    display: flex;
    justify-content: space-between;
}

#hero img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

#hero article {
    width: 300px;
}

#hero .lead-text {
    margin-bottom: 2em;
}